// Da rimuovore quando https://github.com/just-the-docs/just-the-docs/issues/982 è risolto
@import "./color_schemes/light";

$link-color: $green-200;

$sidebar-color: lighten($green-000, 40%);
$feedback-color: lighten($green-000, 30%);

$base-button-color: $feedback-color;
