$pantone_text: #38373D;

$body-heading-color: $pantone_text;
$body-text-color: $pantone_text;

$link-color: $green-200;

$sidebar-color: lighten($green-000, 40%);
$feedback-color: lighten($green-000, 30%);

$base-button-color: $feedback-color;
